.head-about {
    text-align: center;
    padding-top: 80px;
}

.body-about section{
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.body-about h2 {
    color: #34ac70;
}

.body-about ul {
    list-style-type: disc;
    padding-left: 20px;
}

.body-about table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}

.body-about table, .body-about th, .body-about td {
    border: 1px solid #ddd;
}

.body-about th, .body-about td {
    padding: 8px;
    text-align: center;
}
.body-about th {
    background-color: #34ac70;
    color: #fff;
}
