body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 80px;
    /* background-color: #f0f0f0; */
    background-color: #e4f0f5;
}

section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #34ac70;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #3F72AF;
}

th, td {
    padding: 8px;
    text-align: center;
}

.gambar{
    text-align: center;
    padding-top: 80px;

}