.head-cekreservasi h1{
    padding-top: 80px;
    margin-bottom: 50px;
    text-align: center;
    color: #000000;    
}

.body-cekreservasi {
    max-width: 40%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.body-cekreservasi form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-cekreservasi label {
    margin-bottom: 8px;
    align-items: center;
}

.body-cekreservasi input, select{
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.body-cekreservasi button {
    margin: 5px;
    padding: 10px;
    width: 35%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.body-cekreservasi button.hijau{
    background-color: #34ac70;
    color: #fff;
    border: none;
    cursor: pointer;
}

.body-cekreservasi button.merah{
    background-color: #d32828;
    color: #fff;
    border: none;
    cursor: pointer;
}

.body-cekreservasi table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto;
    
}

.body-cekreservasi th,
.body-cekreservasi td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    
}

.body-cekreservasi tr:nth-child(even) {
    background-color: #f9f9f9;
}

.popup-cekreservasi {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content-cekreservasi {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* .popup-content-cekreservasi .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
} */

.hasil-cekreservasi {
    display: flex;
    flex-direction: column;
  }
  
.data-cekreservasi {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
  
.data-cekreservasi h3 {
  margin-bottom: 10px;
  text-align: left;
}

.data-cekreservasi p {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 14px;
  text-align: left;
  font-style: italic;
}

.dataheader-cekreservasi {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}
  
.datastatus-cekreservasi {
  position: absolute;
  top: 25px;
  right: 20px;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}
  
.datastatus-cekreservasi.selesai {
  background-color: green;
}
  
.datastatus-cekreservasi.dijadwalkan {
  background-color: gray;
}
  
.dataactions-cekreservasi {
  margin-top: 10px;
}
  
.dataactions-cekreservasi button {
  margin-right: 10px;
}

.arrow-button {
  position: absolute;
  top: 80px;
  right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .body-cekreservasi {
    max-width:80%;
  }

  .body-cekreservasi th,
  .body-cekreservasi td {
    font-size: 12px; /* Mengurangi ukuran teks pada perangkat seluler jika diperlukan */
  }

  .body-cekreservasi button {
    width: 40%;
  }
}