.head-home {
  padding-top: 80px;
  text-align: center;
  background-color: #DBE2EF;
}

.head-home h1 {
  margin-bottom: 10px;
}

.head-home p {
  color: #555;
}

#body-home {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#body-home h1 {
  color: #000000;
  letter-spacing: 1px;
  text-align: center;
  width: 100%; /* Menyusun agar h1 tetap berada pada satu baris */
}

#body-home section {
  width: 45%;
  margin: 10px;
  padding: 10px;
  text-align: justify;
  box-sizing: border-box;
}

#body-home section p {
  max-width: 80%;
  text-align: justify;
  display: block;
  margin: 30px auto 10px auto;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #555;
}

#body-home section h2 {
  text-align: center;
  color: #000;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

#body-home section img {
  text-align: center;
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  #body-home section {
    width: 80%;
  }
}


/* #animated-div {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#animated-div.fade-in {
  opacity: 1;
} */